<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="shortcut icon" href="#" />

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5" style="width: 500px; background-color: lightgreen;">
        <form id="signupForm">
           <center><h3>Sign Up !</h3> </center><br>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
            <br>
            <label for="signin">Are you already a user?</label>
            <a href="/login" id="signin">Sign in</a>
            <div class="form-group" style="color: red;"  id="errordiv">
              <p id="p"> </p>
            </div>
        </form>
    </div>

    <!-- Axios CDN for making HTTP requests -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Your JavaScript file -->
    <script src="../signup.js"></script>
</body>
</html>